<!DOCTYPE html>
<meta charset=”utf-8”> 
<link href="/static/css/bootstrap.min2.css" rel="stylesheet" media="screen">
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>
  <head>
    {% if session['handle'] != None %}
    <title>{{session['handle']}}'s tweets</title>
    {% else %}
    <title>mattystatty tweet analysis</title>
    {% endif %}
  </head>
  <body>
    <div class ="container">
    <div class="row">
    <h1>mattystatty twitter analysis</h1>
    <div class="navbar navbar-default">
        <ul class="nav navbar-nav">
          <li id ="homebutton"> <a href="/">Home</a></li>
          <li id = "loginbutton"><a href="/handle">Set Handle</a></li>
        </ul>
      </div>
    </div>
    <div/>
    <div class="row">
      <div class="col-lg-2">
          <ul class="nav nav-list">
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
               Analysis
               <b class="caret"></b>
           </a>
          <ul class="dropdown-menu">
          <li><a href="/letter">Letter Frequency</a></li>
          <li><a href="/word">Word Frequency</a></li>
          <li><a href="/force">Retweet Map</a></li>
          </ul>
          </li>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                User Info
               <b class="caret"></b>
           </a>
          <ul class="dropdown-menu">
          <li><a href="/tweets">Tweets</a></li>
          <li><a href="/info">Profile</a></li>
          </ul>
          </li>
          </ul>
      </div>
      <div class="col-lg-10" id="main">
          {% block content %}{% endblock %}
      </div>
    </div>
    <hr>
    <div class="footer">
    <p>&copy; Matthew Pancia 2014</p>
    </div>
    </div>

  </body>
</html>