{% extends "base.html" %}
{% block content %}
    {% if 'handle' not in session %}
        <h2>You have not set a handle. <br></h2>
        <h3><a href="/handle">Set a handle.</a></h3>
  {% else %}
  <h2>here are some tweets from {{session['handle']}}</h2>
  <hr>
  <script type="text/javascript">
  var data = {{tweets|tojson|safe}};
  d3.select("#main").style("height", "300px");
  d3.select("#main").style("overflow", "scroll");
  var stuff = d3.select("#main");
  stuff.selectAll("p")
  .data(data)
  .enter()
  .append("p")
  .text(function(d){return d.text;});

  </script>
  {% endif %}
  {%endblock%}
